# ================================================================= #
# Git ignore for Spring Boot / Java / Gradle / IntelliJ (Muse Review)
# ================================================================= #

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/gradle/wrapper/gradle-wrapper.jar
!**/src/test/resources/gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
.DS_Store
Thumbs.db
desktop.ini

# 암호키 및 보안 인증서 관련 파일
*.key
*.pem
*.jks


MR_config/*

MR_config/local/*

!MR_config/local/application.example.yml

# Spring Boot local config
src/main/resources/application.yml
src/main/resources/application-local.yml

# docs
docs/*
.claude/*
CLAUDE.md
